.home-content-container {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(booking_bg.png);
    background-size: cover;
    background-position: 0% 63%;
}

.home-invite-label {
    font-weight: 600;
    font-size: 18px;
    padding: 4px 8px;
    margin: 8px 0px;
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.9;
}

.home-buttons-panel {
    border: 2px solid white;
    border-radius: 6px;
}