.reservations-iconed-link-container {
  display: flex;
  align-items: center;
}

.reservations-iconed-link-icon {
}

.reservations-iconed-link-cell {
  margin: 0px 3px;
  cursor: pointer;
}

.dx-datagrid-headers {
  background-color: #ebe8e8;
  font-weight: 600;
}

#dgReservation {
  height: calc(100vh - 116px);
}