﻿@model UserRole
@{
    ViewData["Title"] = "Create role";
}

<div class="row">
    <div class="col-md-4">
        @if(ViewBag.Message != null)
        {
            <div class="p-1 mb-2 bg-success text-white">@ViewBag.Message</div>
        }
        <form asp-controller="User" asp-action="CreateRole" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>