.menu-container {
  width: 200px;
  height: calc(100vh - 82px);
  margin: 1px 0px;
  background-color: #337ab7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container-bottom {
  display: flex;
  align-items: end;
  /* height: calc(100vh - 272px); */
}

.menu-nav-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu-item-general {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.menu-item-selected {
  background-color: #a5aeae;
}

.dx-list-item:last-of-type {
  border-bottom: 1px solid #dddddd;
}

.navbar .dx-button.dx-state-hover {
  background-color: #337ab7;
}
.navbar .dx-button.dx-state-focused {
  background-color: #337ab7;
}
.navbar .dx-button.dx-state-active {
  background-color: #337ab7;
}
.dx-button.dx-state-hover {
  font-weight: bold;
}