.cp-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.cp-btn {
  margin: 0px 3px;
  width: 85px;
}

.cp-butons-container {
  display: flex;
  justify-content: end;
  padding: 8px 0px;
}

.cp-error-message {
  background-color: #e99e9e;
  font-size: 15px;
  padding: 5px 6px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-weight: 600;
  margin: 0px -19px;
}
