
.app-footer {
  background-color: whitesmoke;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0px 10px;
  font-size: 14px;
}

.app-hamburger-menu-button {
  padding-right: 12px;
  padding-bottom: 1px;
  padding-top: 2px;
}


.app-toolbar-container {    
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
}
.dx-icon-menu::before {
  font-size: 30px;
}

.dx-toolbar .dx-toolbar-items-container {
  height: 50px;
}

input[aria-readonly="true"], div[aria-readonly="true"] {
  color: #b3b2b2!important;
}