body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.iconed-link-container {
  display: flex;
}

.iconedCell {
  font-family: Tahoma;
  font-size: 12px;
  text-decoration: none;
  color: #447;
  padding-right: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.iconedCell-link {
  display: block;
  font-family: Tahoma;
  font-size: 12px;
  text-decoration: none;
  color: #447;
  padding-right: 3px;
 /* background: url(/Images/link_underline.gif) 0 -3px;*/
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconedCell-link:hover {
  background-position: 0 -4px;
  text-decoration: none;
  color: navy;
  /*background: url(/Images/link_underline_h.gif) 0 -3px*/
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit:not(.dx-focused) .dx-link,
.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit:not(.dx-focused) .iconedCell-link,
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused) .iconedCell-link,
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused) .iconedCell-link {
  background-color: #5c95c5;
  color: #fff;
}

.iconedImg {
  margin-right: 5px;
  top: 2px;
  position: relative;
}

.dx-drawer .dx-item.dx-list-item {
  text-align: left;
}