.departments-iconed-link-container {
  display: flex;
  align-items: center;
}

.departments-iconed-link-icon {
}

.departments-iconed-link-cell {
  margin: 0px 3px;
  cursor: pointer;
}

.dx-datagrid-headers {
  background-color: #ebe8e8;
  font-weight: 600;
}

.department-modal-contrainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.dx-widget.dx-state-disabled .dx-texteditor-input-container{
  background-color: #cbc9c9!important;
}

#dgDepartment {
  height: calc(100vh - 116px);
}