.employees-iconed-link-container {
  display: flex;
  align-items: center;
}

.employees-iconed-link-cell {
  margin: 0px 3px;
  cursor: pointer;
}

.dx-datagrid-headers {
  background-color: #ebe8e8;
  font-weight: 600;
}

#dgEmployee {
  height: calc(100vh - 116px);
}

.first-group,
.second-group {
  padding: 20px;
}

.second-group {
  background-color: rgba(191, 191, 191, 0.15);
}

/* .form-avatar {
  height: 158px;
  width: 128px;
  margin-right: 10px;
  border: 1px solid #d2d3d5;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */
.form-avatar > img {
  height: 158px;
  width: 128px;
  margin-right: 10px;
  border: 1px solid #d2d3d5;
  /* border-radius: 50%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}